# Existing app server config
PORT=3334

# Supabase migration config
SUPABASE_URL=https://rzgmzkmrhfyhwmiacwwm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6Z216a21yaGZ5aHdtaWFjd3dtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ5Mzc2OCwiZXhwIjoyMDg5MDY5NzY4fQ.UXNmU1o16raMIT9_Bz7IEAhpCd5C-_bzphZ2uyiDDMw
SUPABASE_MIGRATION_ORG_NAME=GrowSorcio Migrado
SUPABASE_ORGANIZATION_ID=7bbdc2fc-6471-4994-a69e-abb2a0b68d05

# AbacatePay
ABACATEPAY_TOKEN=abc_dev_XgrkghEAj4kWuyckRxsAZcR3
ABACATEPAY_WEBHOOK_SECRET=ffb29e6b67f4a3994404020f736d6a1023312bf701e212fda2a940a0e9ecbf88
APP_URL=https://app.growsorcio.com.br
LANDING_URL=https://growsorcio.com.br
